* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Color-Palette
Light - #DAD7CD - Section Backgrounds
Lightgreen - #A3B18A - Forms
Midgreen - #588157 - Buttons 
Darkgreen - #3A5A40 - Nav / Footer
Darkestgreen - #24362C - Headers & Text
White - #FFFFFF  */



body {
    height: 100vh;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    /* background-color: #DAD7CD; */
    color: #24362C;
}



/* ========== Navbar ============== */

nav {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #3A5A40;
    padding: 0px 40px;
}

ul {
    margin-left: auto;
    display: flex;
    list-style: none;
}

li {
    padding: 0px 40px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 2.125em;
    line-height: 1.4;
}

h2 {
    font-size: 1.875em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.4;
}

p {
    font-size: 1.25em;
    line-height: 1.4;
    opacity: 80%;
}




/* ========= Section 1 ===========  */
.container {
   background-image: url('images/img-bg-annie-spratt-8mqOw4DBBSg-unsplash.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;  
   height: auto;
   width: 100%;
}

/* #background-img {
    position: absolute;
    width: 100%;
    opacity: 20%;
    height: auto;
    z-index: -1;
    
} */

#content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1375px;
    /* border: 8px solid red; */
    margin: auto;
    padding: 40px 0px;
}

#hero-img {
height: 350px;
border-radius: 8px; 
}


#content{
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    border: none;
    opacity: 100%;
    padding: 20px;
    border-radius: 8px;
}


#content button {
    padding: 20px 48px;
    background-color: #588157;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
    font-size: 1.25em;
    font-weight: 800;
}

/* ========= Section 2 ============ */
.container-2 {
    background-color: #ffffff;
    padding: 40px 0px;
    max-height: auto;
    width: 100%;
  
}

.container-content-2 {
    margin: auto;
    max-width: 1375px;
    /* border: red solid 1px; */
}

.content-mid {
    display: flex;
    flex-wrap: wrap;
    flex: 4%;
    justify-content: space-between;
    height: auto;
 }



 .card {
    max-width: 400px;
    /* border: 1px solid red ; */

 }
 
 .card img {
    height: 260px;
    width: 100%;
    /* border: 1px solid red ; */
    border-radius: 8px;

 }

.mid-btn {
    padding: 16px 48px;
    background-color: #588157;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: auto;
}


/* ========= Section 3 ===========  */
.container-3 {
    background-color: #DAD7CD;
    width: 100%;
    padding: 40px 0px;
}

.container-3-content {
    background-color: #DAD7CD;
    max-width: 1375px;
    height: auto;
    margin: auto;
}

#form-img {
    max-height: 500px;
    width: 600px;
}


.signup-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #A3B18A;
    border-radius: 8px;
    width: 100%;
    /* border: solid 8px red; */
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
   
}

#form-name {
    margin: 20px 0;
}

.form-content {
    margin: auto;
}

.input-box {
    height: 40px;
    width: 450px;
    border: none;
    border-radius: 4px;
}

.form-btn {
    margin-top: 20px;
    margin-left: auto;
    color: white;
    border: none;
    background-color: #588157;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
}


/* ====== FOOTER ========== */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #3A5A40;
    padding: 0px 40px;
    color: white;
}

#footer-content {text-align: center;}



/* =============================== PAGE 2 (SERVICES)=============================== */

/* ====================== TOP CONTAINER ===================== */

.container-top{
    height: auto;
    padding: 30px 0px;
    font-size: 1.3em;
    background-color: #DAD7CD;
    
}

.content-top {
    max-width: 1100px;
    margin: auto;
    text-align: justify;
    padding: 10px;
    /* border: solid 4px red; */
}

.container-top h1 {
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;

}

#heading-bg {
    background-color: white;
    width: 100%;
}

.container-top p {
    line-height: 1.4;
    font-size: 1.25em;
}

/* ===================== MIDDLE CONTAINER ================= */

.container-middle {
    height: 900px;
    width: 100%;
}

.content-middle {
    margin: 60px auto;
    max-width: 1375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: solid red 2px; */
}

.content-middle img {
    height: 400px;
    width: 500px;
    border-radius: 8px;

}

#text-mid {
    padding: 40px;
    max-width: 700px;
    /* border: solid red 2px; */
}

#btn-page2 {
    padding: 16px 36px;
    background-color: #588157;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
    font-size: 1.25em;
    font-weight: 800;
}


/* ===================== BOTTOM CONTAINER ================= */
.bottom-container {
    background-color: #ffffff;
    height: auto;
    width: 100%;
}

.bottom-card {
    max-width: 1375px;
    /* border: 4px solid blueviolet; */
    margin: 0 auto;
    padding: 60px;
}

.bottom-card h1 {
    margin-bottom: 20px
}


#bottom-img {
    margin-bottom: 20px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

#bottom-content {
    /* text-align: justify; */
}

#bottom-text {
    font-size: 1.5em;
    line-height: 1.4;
    width: 100%;
}

#bottom-btn {
    padding: 16px 36px;
    background-color: #588157;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
    font-size: 1.25em;
    font-weight: 800;
    /* margin-left: auto; */
}

/* =========== SERVICE PAGE TABLE ========= */

#table-content {
    padding: 40px;
    border: solid 6px #24362C;
    margin: 20px auto;
    width: 1200px;
    background-color: #A3B18A;
}

#th-heading {
    font-size:  2em;
    padding: 20px 40px;
    border: solid 4px #3A5A40;
    background-color:white;
}

th {
    font-size:  1.7em;
    padding: 20px 40px;
    border: solid 4px #3A5A40;
    background-color:white;
}

td {
    padding: 20px 40px;
    border: solid 2px #3A5A40;
    font-size: 1.5em;
    text-align: justify;
    background-color: white;
    /* opacity: 80%; */
    
}



/* =============================== PAGE 3 (CONTACT) ================================= */
.contact-container {
    /* position: absolute;
    top: 400px; */
    margin-top: 40px;
    height: auto;
    width: 100%;
    /* border: solid red 2px; */
}


.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #A3B18A;
    border-radius: 8px;
    width: 50%;
    /* border: solid red 2px; */
    margin: 0 auto;
}

.contact-page-container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #DAD7CD;
    padding: 100px 0;

}

.heading-contact {
    background-color: white;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    border: solid red 2px;
    text-align: justify;
}

/* ========= Contact Form =========== */

.contact-form-content {
    border: solid red 2px;
    padding: 10px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
   
}

#contact-form {
    margin: 20px 0;
    border: solid blue 2px;
}


.input-box {
    height: 40px;
    width: 450px;
    border: none;
    border-radius: 4px;
}

.input-box-message {
    height: 220px;
    width: 450px;
    border: none;
    border-radius: 4px;
}

.form-btn {
    margin: 20px auto;
    color: white;
    border: none;
    background-color: #588157;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
}



/* ======================= RESPONSIVENESS ===================================== */
@media (max-width: 480px) {
    .container {
        flex: 3%;
        padding: 10px;
        color: red;

    }
}